[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi[standard]>=0.128.0",
    "polars>=1.37.1",
    "h3>=3.7.0",
    "httpx>=0.27.0",
    "numpy>=2.4.1",
    "scipy>=1.14.0",
]
